ultralytics
torch
torchvision
segmentation-models-pytorch
opencv-python-headless
numpy
pandas
scikit-image
Pillow
matplotlib
seaborn
scikit-learn
pyyaml
tqdm
gradio>=4.0
albumentations
moviepy==1.0.3
gTTS